@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:wght@800&display=swap');
@import url('components/container.css'); 
@import url('components/avatar.css'); 
@import url('components/button.css'); 
@import url('components/cardscomments.css'); 
@import url('components/banner.css'); 
@import url('components/writing-card.css'); 
@import url('components/larger-writing-card.css'); 
@import url('components/picture-card.css'); 
@import url('components/meal-card.css'); 
@import url('components/bubble.css'); 
@import url('components/crossbox.css'); 
@import url('pages/homepage.css');
@import url('pages/aboutus.css');
@import url('pages/signup.css');
@import url('pages/infopage.css');
@import url('pages/meals.css');
@import url('pages/mealplan.css');
@import url('pages/mathilde.css');

h1{
	font-family: 'Poppins'; 
	font-weight: bolder; 
	font-size: 32px; 
	line-height: 48px; 
	color: #FF951C;}

body{font-family: 'Pompiere', cursive; 
	font-size: 24px;
 	margin: 0px;
}

h2{font-family: 'Quicksand', sans-serif; 
	font-size: 24px; 
	color: #FF951C}

a{text-decoration: none;
	text-align: center;
	}

h3{font-family: 'Quicksand', sans-serif;
	font-size: 16px; 
	line-height: 20px; 
	color: black; 
	margin: 15px;}

h4{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 10px;
    color: #FFFFFF;
}

h5{
    font-family: Pompiere;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    margin: 0 auto;
}