.larger-card-green
	{background-color: #C6E5B3; 
	border-radius: 15px;
	width: 148px;
	height: 94px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	}


.text-larger {
	text-align: center;}

.larger-card-green input{
		background-color: #FEF4E1;
        border-color: #FEF4E1 ;
		width: 130px;
		height: 18px;
		border-radius: 30px;
		margin-bottom: 3px;
        padding-left: 5px;
       font-family: 'Pompiere', cursive; 
        font-size: 24px;
   }

 .larger-card-green p{
 	margin-top: 0px;
	margin-bottom: 0px;}