@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background: #C6E5B3;
    margin: 0px;
}


.meal-receip{
    width: 336px;
    margin: 0 auto;
    margin-bottom: 17px;
}

.ingredient-left{
    width: 127px;
    height: 182px;
    float:  left;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.receip-right{
    width: 208px;
    height: 180px;
    float: right;
    background: #FF951C;
    border-radius: 20%;
    overflow: scroll;
    display: flex;
    align-items: center;
}


li{
    font-family: Pompiere;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}
.meal-image {
    width: 265px;
    height: 285px;
    margin: 0 auto;
}

.meal-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.profile-container{
    display: grid;
    grid-gap: 30px;
}

.profile-view{
    width: 264px;
    height: 266px;
    background: #FEF4E1;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.profile-image{
    height: 76px;
    width: 76px;
    margin: 0 auto;
    padding: 8px;
}

.profile-view img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-content{
    width: 230px;
    height: 110px;
    background: #FF951C;
    border-radius: 10px;
    margin: 5px;
}

.profile-content p{
    margin: 15px;
}

#checked{
    color: #C4C4C4;
}

i{
    color: #FEE823;
}

.profile-content p{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.rate{
    margin: 0;
}

#comments{
    margin-top: 50px;
}}

