.second{
	background-image: url(../../images/shopping.jpg);
	background-position: top;
	background-color: rgba(198, 229, 179, 0.7); 
	background-blend-mode: lighten;
}

.card-green {
	background-color: #C6E5B3;
    border-radius: 30px;
    width: 307px;
    height: 38px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
	}


.card-green input{
		background-color: #FEF4E1;
        border-color: #FEF4E1 ;
		width: 200px;
		height: 19px;
		border-radius: 30px;
		margin-bottom: 3px;
        padding-left: 5px;
       font-family: 'Pompiere', cursive; 
        font-size: 24px;}

.cards {
	margin-top: 50px;
	margin-bottom: 80px;
}

.btn-orange{
	background-color: #FF951C;
	border-radius: 30px;
	color: black;
	font-weight: lighter;
	position: inherit;
	width: 186px;
	padding: 5px 50px;
}

.ctnr {
	margin-top: 100px;
}

.ctnr h1 {
	margin-bottom: 0px;
}

.ctnr h2{
	margin-top: 0px;
}

#margin{
	margin:  15px;
}